<section class="todoapp">
  <header class="header">
    <h1>Sign In</h1>
    <%= form_tag(sessions_path) do %>
      <%= text_field_tag :email,'',:class => "new-todo",  :placeholder => "log in with your email!" %>
       <%= text_field_tag :password,"",  :class => "new-todo",  :placeholder => "and password" %>
       <%=submit_tag "Log In" %>
    <% end %>
    <p><%= link_to "Login with Github", "/auth/github"  %></p>
  </header>
    <footer class="footer">
  </footer>
</section>
